name: Version Patcher

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version type to bump (major, minor, patch)"
        required: true
        default: "patch"
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  version_and_publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 # specify your node version
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm install

      - name: Build package
        run: npm run build

      - name: Set git config
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Bump version
        id: bump_version
        run: echo "BUMPED_VERSION=$(npm version ${{ github.event.inputs.version }})" >> "$GITHUB_OUTPUT"

      - name: make Pull Request
        if: success()
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git checkout -b release-${{ steps.bump_version.outputs.BUMPED_VERSION }}
          gh pr create --title "Release ${{ steps.bump_version.outputs.BUMPED_VERSION }}" --body "Release ${{ steps.bump_version.outputs.BUMPED_VERSION }}" --base main --head release-${{ steps.bump_version.outputs.BUMPED_VERSION }} --label "version bump"
